.footer-text{
    font-size: 15px;
    text-align: center;
    justify-content: center;
    margin-bottom: 1px;
}

.footer-container{
    margin-top: 0.5rem;
    padding-bottom: 1.5rem;
}

a{
    text-decoration: none;
    color: inherit;
}